<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <title>医生认证</title>
    <script src="__PUBLIC__/public/js/zepto.js" type="text/javascript" charset="utf-8"></script>
    <script src="__PUBLIC__/public/js/mui.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="__PUBLIC__/public/js/mui.picker.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="__PUBLIC__/public/js/data.city.js" type="text/javascript" charset="utf-8"></script>
    <script src="__PUBLIC__/public/js/common.js" type="text/javascript" charset="utf-8"></script>
    <script src="__PUBLIC__/public/layer_mobile/layer.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/public/css/mui.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/public/css/mui.picker.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/public/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/public/css/sc_order.css"/>


    <!--<script src="https://www.w3cways.com/demo/vconsole/vconsole.min.js?v=2.2.0"></script>-->

</head>

<body>
<header class="mui-bar mui-bar-nav red_bg">
    <h1 class="mui-title white_color">医生认证</h1>
</header>
<div class="mui-content" id="app" style="display: block;">
    <div class="mui-input-group" style="margin-top: 0.4rem;">
        <input type="hidden" value="{$hospitalE}" id="hospitalE" name="hospitalE"/>
        <div class="mui-input-row">
            <label><span style="color:red;">*&nbsp;</span>所属城市</label>
            <input type="text" placeholder="请输入所属城市" readonly name="chengshi" id="chengshi" value="{$list[0]['chengshi']}">
        </div>
        <div class="mui-input-row">
            <label><span style="color:red;">*&nbsp;</span>所属医院</label>
            <input type="text" placeholder="请输入所属医院" readonly value="{$list[0]['yiyuan']}" name="yiyuan" id="yiyuan">
        </div>
        <div class="mui-input-row">
            <label><span style="color:red;">*&nbsp;</span>所属科室</label>
            <input type="text" placeholder="请输入所属科室" value="{$list[0]['keshi']}" name="keshi" id="keshi">
        </div>
    </div>

    <div class="mui-input-group" style="margin-top: 0.4rem;">
        <div class="mui-input-row">
            <label><span style="color:red;">*&nbsp;</span>姓名</label>
            <input type="text" placeholder="请输入姓名" value="{$list[0]['name']}" name="name" id="name">
        </div>
        <div class="mui-input-row">
            <label><span style="color:red;">*&nbsp;</span>工牌号</label>
            <input type="text" placeholder="请输工牌号" name="gongpaihao" value="{$list[0]['gongpaihao']}" id="gongpaihao">
        </div>
        <div class="mui-input-row">
            <label><span style="color:red;">*&nbsp;</span>工牌</label>
            <a href="javascript:;" class="file">选择图片
            <input type="file" accept="image/*;capture=camera" class="input" value="">
            </a>
            <input type="hidden" id="gongpaiUrl" name="gongpaiUrl" value="{$list[0]['gongpai']}" />
        </div>
        <div class="mui-input-row">
            <label><span style="color:red;">*&nbsp;</span>工牌预览</label>
            <div class="imgzip" id="gongpai" style="width:70%;float:left;padding-top:10px;">
                <php>
                    if($list[0]['gongpai']==""){
                        echo "<img src='__PUBLIC__/public/images/gongpai.png' />";
                    }else{
                        echo "<img src='".$list[0]['gongpai']."' />";
                    }
                </php>
            </div>
        </div>
    </div>

    <div class="cont_last">
        <button type="button" class="now_qg" id="confirmD">立即提交</button>
    </div>
</div>

<style>
    .file {
        position: relative;
        display: inline;
        background: #FF7575;
        border: 1px solid #FF6262;
        border-radius: 4px;
        padding: 4px 12px;
        overflow: hidden;
        color: #fff;
        text-decoration: none;
        text-indent: 0;
        line-height: 20px;
        font-size: 14px;
    }
    .file input {
        position: absolute;
        font-size: 100px;
        right: 0;
        top: 0;
        opacity: 0;
    }
    .file:hover {
        background: #FF6262;
        border-color: #FF7575;
        color: #fff;
        text-decoration: none;
    }
</style>

<script>
    document.addEventListener('DOMContentLoaded', init, false);

    function init() {
        var u = new UploadPic();
        u.init({
            input: document.querySelector('.input'),
            callback: function (base64) {
                var html = '';
                html = '<img src="' + base64 + '"><input type="hidden" id="base64" value="'+this.noHead+'">';
                document.querySelector('.imgzip').innerHTML = html;
                upload();
            },
            loading: function () {
                document.querySelector('.imgzip').innerHTML = '读取中，请稍候...';
            }
        });
    }

    function UploadPic() {
        this.sw = 0;
        this.sh = 0;
        this.tw = 0;
        this.th = 0;
        this.scale = 0;
        this.maxWidth = 0;
        this.maxHeight = 0;
        this.maxSize = 0;
        this.fileSize = 0;
        this.fileDate = null;
        this.fileType = '';
        this.fileName = '';
        this.input = null;
        this.canvas = null;
        this.mime = {};
        this.type = '';
        this.callback = function () {};
        this.loading = function () {};
        this.noHead = "";
    }

    UploadPic.prototype.init = function (options) {
        this.maxWidth = options.maxWidth || 800;
        this.maxHeight = options.maxHeight || 600;
        this.maxSize = options.maxSize || 3 * 1024 * 1024;
        this.input = options.input;
        this.mime = { 'png': 'image/png', 'jpg': 'image/jpeg', 'jpeg': 'image/jpeg', 'bmp': 'image/bmp' };
        this.callback = options.callback || function () { };
        this.loading = options.loading || function () { };
        this._addEvent();
    };

    /**
     * @description 绑定事件
     * @param {Object} elm 元素
     * @param {Function} fn 绑定函数
     */
    UploadPic.prototype._addEvent = function () {
        var _this = this;

        function tmpSelectFile(ev) {
            _this._handelSelectFile(ev);
        }
        this.input.addEventListener('change', tmpSelectFile, false);
    };

    /**
     * @description 绑定事件
     * @param {Object} elm 元素
     * @param {Function} fn 绑定函数
     */
    UploadPic.prototype._handelSelectFile = function (ev) {
        var file = ev.target.files[0];
        this.type = file.type
        // 如果没有文件类型，则通过后缀名判断（解决微信及360浏览器无法获取图片类型问题）
        if (!this.type) {
            this.type = this.mime[file.name.match(/\.([^\.]+)$/i)[1]];
        }
        if (!/image.(png|jpg|jpeg|bmp)/.test(this.type)) {
            alert('选择的文件类型不是图片');
            return;
        }
        if (file.size > this.maxSize) {
            alert('选择文件大于' + this.maxSize / 1024 / 1024 + 'M，请重新选择');
            return;
        }
        this.fileName = file.name;
        this.fileSize = file.size;
        this.fileType = this.type;
        this.fileDate = file.lastModifiedDate;
        this._readImage(file);
    };

    /**
     * @description 读取图片文件
     * @param {Object} image 图片文件
     */
    UploadPic.prototype._readImage = function (file) {
        var _this = this;
        function tmpCreateImage(uri) {
            _this._createImage(uri);
        }
        this.loading();
        this._getURI(file, tmpCreateImage);
    };

    /**
     * @description 通过文件获得URI
     * @param {Object} file 文件
     * @param {Function} callback 回调函数，返回文件对应URI
     * return {Bool} 返回false
     */
    UploadPic.prototype._getURI = function (file, callback) {
        var reader = new FileReader();
        var _this = this;
        function tmpLoad() {
            // 头不带图片格式，需填写格式
            var re = /^data:base64,/;
            var ret = this.result + '';
            if (re.test(ret)) ret = ret.replace(re, 'data:' + _this.mime[_this.fileType] + ';base64,');
            //此处为自己加上的去掉base64不带“头”的判断
            if (ret.indexOf(";base64,") >= 0) {
                var num = ret.indexOf(";base64,");
                num = parseInt(num) + 8;
                _this.noHead = ret.substring(num);
            }
            callback && callback(ret);
        }
        reader.onload = tmpLoad;
        reader.readAsDataURL(file);
        return false;
    };

    /**
     * @description 创建图片
     * @param {Object} image 图片文件
     */
    UploadPic.prototype._createImage = function (uri) {
        var img = new Image();
        var _this = this;
        function tmpLoad() {
            _this._drawImage(this);
        }
        img.onload = tmpLoad;
        img.src = uri;
    };

    /**
     * @description 创建Canvas将图片画至其中，并获得压缩后的文件
     * @param {Object} img 图片文件
     * @param {Number} width 图片最大宽度
     * @param {Number} height 图片最大高度
     * @param {Function} callback 回调函数，参数为图片base64编码
     * return {Object} 返回压缩后的图片
     */
    UploadPic.prototype._drawImage = function (img, callback) {
        //        this.sw = img.width;
        //        this.sh = img.height;
        //如果不需要压缩可将上面注释与下面的更换；
        this.tw = img.width;
        this.th = img.height;
        this.sw = img.width;
        this.sh = img.height;
        this.scale = (this.tw / this.th).toFixed(2);
        if (this.sw > this.maxWidth) {
            this.sw = this.maxWidth;
            this.sh = Math.round(this.sw / this.scale);
        }
        if (this.sh > this.maxHeight) {
            this.sh = this.maxHeight;
            this.sw = Math.round(this.sh * this.scale);
        }
        this.canvas = document.createElement('canvas');
        var ctx = this.canvas.getContext('2d');
        this.canvas.width = this.sw;
        this.canvas.height = this.sh;
        ctx.drawImage(img, 0, 0, img.width, img.height, 0, 0, this.sw, this.sh);
        this.callback(this.canvas.toDataURL(this.type));
        ctx.clearRect(0, 0, this.tw, this.th);
        this.canvas.width = 0;
        this.canvas.height = 0;
        this.canvas = null;
    };
</script>



<script>
    function upload() {
        var base64 = $("#base64").val();
        var loading=layer.open({type: 2,content: '上传中...'});
        $.ajax(
            {
                type: "post",
                url: "__ROOT__/Doctor/upload",
                data: {base64: base64},
                success: function fun(rt) {
                    layer.open({content: '工牌上传成功!',skin: 'msg',time: 2,
                        end:function(index){
                            //$('#gongpai').html('<img src="'+rt.path+'"/>');
                            $('#gongpaiUrl').val(rt.path);
                            layer.close(index);
                        }
                    });
                },
                complete: function () {
                    layer.close(loading);
                }
            });
    };

    //选择省市区
    $("#chengshi").on("tap", function(){
        setTimeout(function(){
            var city_picker = new mui.PopPicker({layer:2});
            city_picker.setData(init_city_picker);
            city_picker.show(function(items){
                $("#chengshi").val((items[0] || {}).text + "," + (items[1] || {}).text);
                var city=(items[1] || {}).text;
                var data = {city:city};
                $.ajax(
                    {
                        url:'__ROOT__/Order/selectCity',
                        data:data,
                        type:'POST',
                        dataType:'json',
                        success:function(json){
                            var hospitals=json.hospitals;
                            window['hospitals']=hospitals.split(",");
                        }
                    }
                );
            });
        },200);
    });

    $("#yiyuan").on("tap", function(){
        setTimeout(function(){
            var hos_picker = new mui.PopPicker({layer:1});
            hos_picker.setData(window['hospitals']);
            hos_picker.show(function(item){
                $("#yiyuan").val((item || {}));
            })
        },200);
    });

    var checkResult = {};
    var Check = {
        checkChengshi : function() {
            var chengshiEl = $("#chengshi"),
                chengshi = $.trim(chengshiEl.val());

            chengshiEl.val(chengshi);

            if(chengshi == ""){
                $("#chengshi").removeClass().addClass("has-error");
                layer.open({content: '请填写所属城市!',skin: 'msg',time: 2});
                return false;
            }
            else {
                $("#chengshi").removeClass().addClass("");
                return false;
            }
        },

        checkYiyuan : function() {
            var yiyuanEl = $("#yiyuan"),
                yiyuan = $.trim(yiyuanEl.val());

            yiyuanEl.val(yiyuan);

            if(yiyuan == ""){
                $("#yiyuan").removeClass().addClass("has-error");
                layer.open({content: '请填写所属医院!',skin: 'msg',time: 2});
                return false;
            }
            else {
                $("#yiyuan").removeClass().addClass("");
                return false;
            }
        },

        checkKeshi : function() {
            var keshiEl = $("#keshi"),
                keshi = $.trim(keshiEl.val());

            keshiEl.val(keshi);

            if(keshi == ""){
                $("#keshi").removeClass().addClass("has-error");
                layer.open({content: '请填写所属科室!',skin: 'msg',time: 2});
                return false;
            }
            else {
                $("#keshi").removeClass().addClass("");
                return false;
            }
        },

        checkName : function() {
            var nameEl = $("#name"),
                name = $.trim(nameEl.val());

            nameEl.val(name);

            if(name == ""){
                $("#name").removeClass().addClass("has-error");
                layer.open({content: '请填写姓名!',skin: 'msg',time: 2});
                return false;
            }
            else {
                $("#name").removeClass().addClass("");
                return false;
            }
        },

        checkGongpaihao : function() {
            var gongpaihaoEl = $("#gongpaihao"),
                gongpaihao = $.trim(gongpaihaoEl.val());

            gongpaihaoEl.val(gongpaihao);

            if(gongpaihao == ""){
                $("#gongpaihao").removeClass().addClass("has-error");
                layer.open({content: '请填写工牌号!',skin: 'msg',time: 2});
                return false;
            }
            else {
                $("#gongpaihao").removeClass().addClass("");
                return false;
            }
        },

        checkGp : function() {
            var gongpaiUrlEl = $("#gongpaiUrl"),
                gongpaiUrl = $.trim(gongpaiUrlEl.val());

            gongpaiUrlEl.val(gongpaiUrl);

            if(gongpaiUrl == ""){
                $("#gongpaiUrl").removeClass().addClass("has-error");
                layer.open({content: '请上传您的工牌!',skin: 'msg',time: 2});
                return false;
            }
            else {
                $("#gongpaiUrl").removeClass().addClass("");
                return false;
            }
        },

        checkSubmit : function() {

            $("#chengshi") && Check.checkChengshi();
            $("#yiyuan") && Check.checkYiyuan();
            $("#keshi") && Check.checkKeshi();
            $("#name") && Check.checkName();
            $("#gongpaihao") && Check.checkGongpaihao();
            $("#gongpaiUrl") && Check.checkGp();

            var hasError = $("#chengshi").hasClass("has-error")
                || $("#yiyuan").hasClass("has-error")
                || $("#keshi").hasClass("has-error")
                || $("#name").hasClass("has-error")
                || $("#gongpaihao").hasClass("has-error")
                || $("#gongpaiUrl").hasClass("has-error");

            if (hasError) {
                layer.open({content: '请填写正确的信息',skin: 'msg',time: 2});
                return false;
            }
            else
            {
                var chengshi = $("#chengshi").val();
                var yiyuan = $("#yiyuan").val();
                var keshi = $("#keshi").val();
                var name = $("#name").val();
                var gongpaihao = $("#gongpaihao").val();
                var gongpai = $("#gongpaiUrl").val();
                var data = {chengshi:chengshi,yiyuan:yiyuan,keshi:keshi,name:name,gongpaihao:gongpaihao,gongpai:gongpai};

                $.ajax(
                    {
                        url:'__URL__/RzDoc',
                        data:data,
                        type:'POST',
                        dataType:'json',
                        success:function(json){
                            if(json.flag==1){
                                layer.open({content: '医生认证已提交,请等待审核!',skin: 'msg',time: 2,
                                    end:function(index){
                                        window.location.href="__ROOT__/Main/";
                                        layer.close(index);
                                    }
                                });
                            }else{
                                layer.open({content: '请填写正确的医生认证信息!',skin: 'msg',time: 2,
                                    end:function(index){
                                        location.reload();
                                        layer.close(index);
                                    }
                                });
                            }
                        }
                    }
                )

            }
        },

    };


    $(document).ready(function(){

        if($("#hospitalE").val()!=""){
            var hospitals=$("#hospitalE").val();
            window['hospitals']=hospitals.split(",");
        }

        $("#yiyuan").blur(Check.checkYiyuan);
        $("#keshi").blur(Check.checkKeshi);
        $("#name").blur(Check.checkName);
        $("#idCode").blur(Check.checkIdCode);
        $("#telephone").blur(Check.checkTelephone);
        $("#address").blur(Check.checkAddress);
        $("#confirmD").click(Check.checkSubmit);

    });

</script>

</body>
</html>