<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <title>注册登录</title>
    <!--js-->
    <script src="__PUBLIC__/public/js/zepto.js" type="text/javascript" charset="utf-8"></script>
    <script src="__PUBLIC__/public/js/common.js" type="text/javascript" charset="utf-8"></script>
    <script src="__PUBLIC__/public/js/config.js"></script>
    <script src="__PUBLIC__/public/js/mui.min.js"></script>
    <script src="__PUBLIC__/public/js/vue.js"></script>
	<script src="__PUBLIC__/public/layer_mobile/layer.js" type="text/javascript" charset="utf-8"></script>
    <script src="__PUBLIC__/public/js/ali_font.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/public/css/ali_font.css"/>
    <!--css-->
    <link href="__PUBLIC__/public/css/mui.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/public/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/public/css/user_login.css"/>
</head>
<body>

<div class="mui-content app_show" id="app">
    <header class="mui-bar mui-bar-nav red_bg ">
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left white_color"></a>
        <h1 class="mui-title white_color" style="left: 2rem;">登录
            <a class="fr zhuce_title" href="__ROOT__/Reg/">注册</a>
        </h1>
    </header>
    <div class="login_bg">
        <img src="__PUBLIC__/public/images/denglu_img.png" alt="" class="denglu_img"/>
    </div>
    <form class="mui-input-group" v-if="type==0">
        <div class="mui-input-row">
            <label><i class="phone"></i></label>
            <input type="text" placeholder="请输入手机号" name="telephone" id="telephone" maxlength="11">
        </div>
        <div class="mui-input-row">
            <label><i class="lock"></i></label>
            <input type="password" class="mui-input-password" placeholder="请输入密码" name="password" id="password" maxlength="18">
        </div>

        <div class="mui-button-row" style="margin-top:20px;">
            <button type="button" class="mui-btn  login_btn" id="login">登录</button>
        </div>
    </form>
</div>

<nav class="mui-bar mui-bar-tab" style="height: 1.96rem;color: #666666;font-size: 0.56rem;">
    <a class="mui-tab-item" href="__ROOT__">
        <span class="mui-icon iconfont icon-home"></span>
        <span class="mui-tab-label">首页</span>
    </a>
    <a class="mui-tab-item" href="__ROOT__/MyOrder/">
        <span class="mui-icon iconfont icon-dingdan"></span>
        <span class="mui-tab-label">订单</span>
    </a>
    <a class="mui-tab-item" href="__ROOT__/Message/">
        <span class="mui-icon iconfont icon-xiaoxi"></span>
        <span class="mui-tab-label">消息</span>
    </a>
    <a class="mui-tab-item" href="__ROOT__/Main/">
        <span class="mui-icon iconfont icon-people"></span>
        <span class="mui-tab-label">我的</span>
    </a>
</nav>


<script>

var checkResult = {};
var Check = {
    checkTelephone : function() {
        var telephoneEl = $("#telephone"),
            telephone = $.trim(telephoneEl.val());

        telephoneEl.val(telephone);

        if(telephone == ""){
        	$("#telephone").removeClass().addClass("has-error");
			layer.open({content: '请填写手机号!',skin: 'msg',time: 2});
            return false;
        }else if(!(/^1[34578]\d{9}$/.test(telephone))){
            $("#telephone").removeClass().addClass("has-error");
            layer.open({content: '请填写正确的手机号!',skin: 'msg',time: 2});
            return false;
        }
        else {
			$("#telephone").removeClass().addClass("");
            return false;
        }
    },
	
	checkPassword : function() {
        var passwordEl = $("#password"),
            password = $.trim(passwordEl.val());

        passwordEl.val(password);

        if(password == ""){
        	$("#password").removeClass().addClass("mui-input-password has-error");
			layer.open({content: '请填写密码!',skin: 'msg',time: 2});
            return false;
        }
        else {
			$("#password").removeClass().addClass("mui-input-password");
            return false;
        }
    },
	
    checkSubmit : function() {

        $("#telephone") && Check.checkTelephone();
		$("#password") && Check.checkPassword();
        
        var hasError = $("#telephone").hasClass("has-error")
					|| $("#password").hasClass("has-error");

        if (hasError) {
			layer.open({content: '请填写正确的信息',skin: 'msg',time: 2});
            return false;
        }
		else
		{
			var telephone = $("#telephone").val();
			var password = $("#password").val();
			var data = {telephone:telephone,password:password};

			$.ajax(
				{
					url:'__URL__/check/',
					data:data,
					type:'POST',
					dataType:'json',
					success:function(json){
						if(json.flag==1){
                            layer.open({content: '登录成功!',skin: 'msg',time: 2,
                                end:function(index){
                                    window.location.href="__ROOT__";
                                    layer.close(index);
                                }
                            });
						}else{
                            layer.open({content: '手机或密码错误!',skin: 'msg',time: 2,
                                end:function(index){
                                    location.reload();
                                    layer.close(index);
                                }
                            });
						}
					}
				}
			)

		}
    },

};


$(document).ready(function(){
	
	$("#telephone").blur(Check.checkTelephone);
	$("#password").blur(Check.checkPassword);
	$("#login").click(Check.checkSubmit);
	
});

</script>

</body>
</html>
