<html>
<head>
<title>检测须知</title>
<meta id="viewport" name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1; user-scalable=no;">
<meta name="format-detection" content="telephone=no">
<link href="__PUBLIC__/public/css/loading.css" rel="stylesheet">
<link href="__PUBLIC__/public/css/pop.css" rel="stylesheet">
<script type="text/javascript">
function doCallback(){
	window.location.href="__ROOT__";
}
function doCallnext(){
	window.location.href="__ROOT__/Order/";
}
</script>
</head>
<body>
	<div class="loading_wrap">
		<span class="loading animate"></span>
	</div>
	<div class="pop_wraper" id="alert_box1">
		<div class="pop_outer pop_midder">
			<div class="pop_tip">
				<p class="pop_tip_p4">甲状腺结节基因检测送检知情同意书</p>
                <div style="height:350px;overflow: scroll;">
                    <p class="pop_tip_p5">&nbsp;&nbsp;&nbsp;&nbsp;甲状腺结节和甲状腺癌是内分泌系统的多发病和常见病。高分辨率B超检查获得的甲状腺结节的患病率为20-76%，甲状腺结节中的甲状腺癌的患病率为5-15%。绝大多数甲状腺癌患者预后良好，其5年和10年生存率分别为97%和93%。</p>
                    <p class="pop_tip_p5">&nbsp;&nbsp;&nbsp;&nbsp;甲状腺结节基因检测对甲状腺结节的风险评估，治疗方案指导，精准治疗等方面有着重要意义。1、甲状腺结节基因检测能够辅助判断甲状腺结节的良恶性，避免非必要的甲状腺切除手术以及后遗症，同时及早发现恶性结节。2、甲状腺结节基因检测能够给医生手术切除方案和预后管理提供参考依据。</p>
                    <p class="pop_tip_p5">&nbsp;&nbsp;&nbsp;&nbsp;本检测利用目标区域捕获技术以及高通量测序技术对甲状腺结节穿刺样本进行基因检测，检测包含BRAF，RAS，TERT等常见基因突变位点的检测（约1000+已报道突变位点）以及甲状腺癌种常见基因融合的检测（约40种），100+的基因表达分析，对检测结果采用生物信息学分析方法进行分析。</p><br>
                    <p class="pop_tip_p5"><b>检测技术局限性及潜在风险</b></p>
                    <p class="pop_tip_p5">1、鉴于疾病发生的复杂性及目前医学科学发展的局限，本检测只能针对目前科学界已发现的常见突变位点进行检测和注释，不能排除其它复杂或未知突变对检测结果的干扰。</p>
                    <p class="pop_tip_p5">2、随着基因测序技术的发展，目前测序错误率已经小于1%，但仍然不能保证不会出现由于测序错误导致的检测结果误差。</p>
                    <p class="pop_tip_p5">3、检测仅对本次送检样本负责，检测结果仅供参考，不代表临床诊断意见。</p>
                    <p class="pop_tip_p5">4、由于不可抗拒因素（如样本采集管管破裂、实验试剂异常等）所致样品损耗，异常，受检者需配合检测机构再次取样。</p>
                    <p class="pop_tip_p5">5、考虑到检测的复杂性和可能产生的影响，在检测过程中及知晓检测结果后，受检者可能会出现不同程度的精神压力和负担，本检测机构不承担任何责任。</p><Br>
                    <p class="pop_tip_p5"><b>受检者知情声明和承诺</b></p>
                    <p class="pop_tip_p5">1、我已阅读并充分了解以上信息，已充分理解本检测和存贮项目的性质、预期目的、风险和可能性。</p>
                    <p class="pop_tip_p5">2、我了解本检测的技术局限性，我并未得到该项检测技术百分之百准确的许诺，并且检测结果仅对本次送检样本有效。检测结果仅供临床参考，不代表临床诊断意见。</p>
                    <p class="pop_tip_p5">3、我已获得保证，个人信息将得到隐私保护；并同意在去掉所有个人信息后，检测数据可供医学研究参考，授权检测机构对检测涉及的样本进行处理和用于非盈利性的科学研究。</p>
                    <p class="pop_tip_p5">4、我自愿参与本次检测，并承诺提供的个人资料真实可靠。我承诺本人所提供的资料的真实、准确、完整并自愿承担因检测带来的相关风险。</p>
                    <p class="pop_tip_p5">5、我自愿参与本次检测，对检测结果以及相应后续处理（若有），我将咨询临床医生结合各方面情况综合判断。</p>
                </div>
				<p class="pop_tip_p3 border b_top">
				<span class="border b_rgt"><button class="p_btn" onclick="doCallback()">关闭</button></span>
				<span><button id="cli" class="p_btn cols" onclick="doCallnext()">确认</button></span>
				</p>
			</div>
		</div>
	</div>

</body>
</html>